<h2>
  Signup
</h2>
<form action="/signup" method="post">
  <label for="">
    Username
  </label>
  <input type="text" name="username" placeholder="Your username" required />
  <label for="">
    Email
  </label>
  <input type="email" name="email" placeholder="Your email" required />
  <label for="">
    Password
  </label>
  <input type="password" name="password" placeholder="Your password" required />
  <button type="submit">
    Create account
  </button>
</form>
{{#if errorMessage}}
  <div>
    <p>
      {{errorMessage}}
    </p>
  </div>
{{/if}}